*.tfstate*
*.lock* 
.terraform/
.venv/
aws_prowler_scan.json
azurescan.json
grc_remediation_plan.json
extracted_remediations/
conftest_0.45.0*
filter_prowler_files.py
filtered_prowler_findings1.json 
steampipe_tags1.json
risk_quantification_report.json
*.ttf
*.pkl
compliance_db1/
